.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section1 .mainimg {
  width: 30%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section1 .mainimg {
    width: 50%;
    display: -ms-grid;
    display: grid;
  }
}

.section1 .mainimg > img {
  width: 100%;
  height: 500px;
}

.section1 .asideimg {
  background-color: bisque;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section1 .asideimg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
}

.section1 .asideimg > h2 {
  font-weight: bold;
  font-size: 70px;
  color: black;
  padding-bottom: 15px;
}

.section1 .asideimg > p {
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  font-family: arial;
}

.section1 .asideimg > .buttons {
  width: 30%;
  background-color: black;
  padding: 12px 38px;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.section1 .asideimg > .buttons:hover {
  background-color: gray;
}

.section1 .asideimg > .buttons > .alink {
  font-weight: 600;
  text-decoration: none;
  color: bisque;
}

.text1 {
  margin-top: 50px;
}

.cards .card {
  border: none;
}

.cards .card .card-text {
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cards {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.gift {
  font-size: 30px;
  font-family: georgia;
  color: black;
}

button {
  background-color: inherit;
  width: 100%;
  padding: 18px 38px;
  -webkit-transition: .2s;
  transition: .2s;
}

button:hover {
  background-color: black;
}

button:hover a {
  color: white;
}

button > a {
  text-decoration: none;
  color: black;
  width: 100%;
}

#product2 {
  background-color: beige;
  padding: 50px;
  margin: 100px 0;
}

#Picture {
  border-top: 2px solid black;
  width: 80%;
  margin: 0 10%;
}

.miniflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.miniflex .style {
  font-size: 30px;
  color: black;
}

.miniflex .seeall {
  font-size: 15px;
}

.miniflex .seeall > a {
  color: black;
}

.textend p, .textend a {
  padding-top: 26px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: o;
  padding: 0;
  outline: none;
}
/*# sourceMappingURL=style.css.map */